body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.app-container {
  margin: auto;
}

.title-container {
  width: 100%;
  background-color: rgb(33, 33, 33);
  margin: 0px 0px 60px 0px;
  padding: 30px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.title {
  text-align: center;
  color: #f6f6f6;
}

.table-container {
  width: 100%;
}

.data-table {
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.data-table-actions {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.data-tabla-actions-into {
  width: 100%;
  text-align: center;
  background-color: rgb(33, 33, 33);
  color: #f6f6f6;
}

.data {
  display: flex;
  justify-content: space-around;
}

.data-into {
  width: 100%;
  border-top: #dfdfdf solid 1px;
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.loading {
  margin-top: 20px; /* Espaciado entre el loader y el texto */
  font-size: 18px;
  color: #333;
}


.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  color: red;
  font-size: 18px;
}

.error-message {
  margin: 0;
}

