body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

.app-container {
  margin: auto;
}

.title-container {
  width: 100%;
  background-color: rgb(33, 33, 33);
  margin: 0px 0px 10px 0px;
  padding: 30px 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.title {
  text-align: center;
  color: #f6f6f6;
}

.table-container {
  width: 100%;
}

.data-table {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
}

.data-table-actions {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.data-tabla-actions-into {
  width: 100%;
  text-align: center;
  background-color: rgb(33, 33, 33);
  color: #f6f6f6;
}

.data {
  display: flex;
  justify-content: space-around;
}

.data-into {
  width: 100%;
  border-top: #dfdfdf solid 1px;
  text-align: center;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Asegura que ocupe toda la altura de la pantalla */
}

.loading {
  margin-top: 20px; /* Espaciado entre el loader y el texto */
  font-size: 18px;
  color: #333;
}


.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  color: red;
  font-size: 18px;
}

.error-message {
  margin: 0;
}

/* styles.css */
.top-actions-container {
  display: flex;
}

.top-actions-list {
  list-style: none;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}


.top-action-item {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  color: #333;
  transition: background-color 0.3s ease;
}

.top-action-item:hover {
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
}

.loading-logo-container {
  background-color: #f6f6f6;
}

/* Chart */

.chart-big-container {
  display: flex;
  padding: 0px 20px;
}

.chart-container-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}

.chart-container {
  width: 100%;
}

.back-button {
  margin: 40px 20px 0px 20px;
  color: #333;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.back-button:hover {
  color: #000000;
}








